<test-table-container [dataArray]="tableService.tableMockData">
    <tr class="text-center">
        <th *ngFor="let _ of itemKeysInArray; index as i">
            Столбец №{{ i + 1 }}
        </th>
    </tr>
    <ng-template let-item #target>
        <ng-container *ngFor="let keys of item | keyvalue">
            <td [class.table-active]="document.activeElement === input"
                testKeyboardNavigation="input"
                class="p-2"
            >
                <input #input
                       testKeyboardInput
                       (click)="cdr.markForCheck()"
                       (blur)="input.readOnly = true"
                       [value]="keys.value"
                       readonly
                       type="text"
                       class="text-center m-2">
            </td>
        </ng-container>
    </ng-template>
</test-table-container>